@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.About container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    text-align: center;
    padding: 50px;
}

.About h1, p, h3, button{
    font-family: 'Roboto', sans-serif;
}

.about-header{
    /* background-image: url(https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?cs=srgb&dl=pexels-fauxels-3184418.jpg&fm=jpg&_gl=1*3x088b*_ga*MTkzODI3NzgzMS4xNjY0OTc5ODkz*_ga_8JE65Q40S6*MTY3MTg5NDc2OC4xMC4xLjE2NzE4OTQ4MjEuMC4wLjA.
    );
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    height: 75vh;
}

.story h1, .team h1{
    color: rgb(2, 85, 148);
}

.team{
    background: linear-gradient(#EAFBFF, #E5FAFF);
}


.team-btns button{
    color: #025594;
    padding: 10px;
    border-radius: 30px;
    width: 120px;
}

.team-btns button:hover{
    background-color: #025594;
    color: white;
}


.call-to-action h1{
    color: #026FC2;
    font-size: 32px;
}

.call-to-action p{
    color: #9DAFBD;
    font-size: 18px;
}

.call-to-action button{
    background-color: #4699C2;
    width: 150px;
    color: white;
    border-radius: 30px;
    border: 2px solid #4699C2;
    padding: 10px;
}

.call-to-action button:hover{
    background-color: white;
    border-color: #4699C2;
    color: #4699C2;
}


@media only screen and (max-width: 800px) {

    .About container{
        padding: 10px;
    }

    .story h1, .team h1{
        font-size: 10vw;
    }

    .call-to-action h1{
        font-size: 6vw;
    }

    .about-header{
        height: 50vh;
        background-attachment:scroll;
    }

    .About p{width: 100%;}
}

@media only screen and (max-width: 470px){
    .about-header{
        height: 30vh;
    }
}