@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.AboutSection{
    background-color: rgb(231, 250, 255);
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.AboutSection h1{
   font-family: 'Fira Sans', sans-serif;
   color: #4699C2;
   font-size: 20px;
}

.AboutSection p{
    width: 50%;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 10px;
}

.AboutSection button{
    width: 150px;
    background-color: #4699C2;
    padding: 10px;
    color: white;
    border-radius: 30px;
    border: 2px solid #4699C2;
}

.AboutSection button:hover{
    color: #4699C2;
    background-color: white;
    border: 2px solid #4699C2;
}

@media only screen and (max-width: 850px) {
    .AboutSection p{
        width: 100%;
    }
}